* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem 2rem;
  display: flex;
  gap: 5rem;
  align-items: flex-start;
}

/* INPUT */
form {
  display: flex;
  justify-content: space-evenly;
}

button {
  align-self: flex-start;
}

select {
  text-align-last: center;
}

.filter {
  display: inline;
}

/* TABLE */
table, th, td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

table {
  background-color: oklch(70% 0.113 76.24);
}

th {
  background-color: oklch(70% 0.109 207.53);
}

td {
  background-color: oklch(70% 0.101 165.18);
}

/* STYLE */
.text-centered {
  text-align: center;
}

.text-white {
  color: white;
}

.container div {
  text-align: center;
  margin-bottom: 1rem;
}